body {
  overflow-x: hidden; /* Quitamos scroll horizontal sobretodo para los iframes */
}

p {
  color: rgb(54, 45, 58);
  font-size: 1.5rem;
}

.tabla1,
.tabla2,
.tabla3 {
  border: 2px solid black;
  margin: 0;
  padding: 0.3rem;
  background-color: #1aa6b7;
  height: 25rem;
  overflow: hidden;
}

.tabla1 {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  text-align: center;
}

.tabla2 {
  display: block;
  text-align: center;
  padding-bottom: 1rem;
  background-color: #c0dfe9;
}

.tabla2 table {
  margin: 0 auto;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.tabla3 {
  height: 42rem;
  text-align: center;
  padding-bottom: 1rem;
}

.bg_tabla {
  background-color: #fff;
  padding: 5px;
  border: 3px solid black;
  border-radius: 25px 0 10px;
  margin: 0 auto;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

table th {
  border: 1px solid green;
  text-align: center;
}

table td {
  border: 1px solid red;
  text-align: center;
}

.tabla2 th {
  background-color: #FBE699;
}

.tabla2 tr {
  background-color: rgb(108, 219, 219);
}

/* Selector de varias clases */
.tabla2 .tr2,
.tabla2 .tr5 {
  background-color: bisque;
}

/* El elemento hijo en posicion (n)  */
.tabla2 .tr4 :nth-of-type(2) {
  background-color: rgb(218, 129, 129);
}

/* Los pares */
.tabla2 .tr6 :nth-of-type(even) {
  background-color: orange;
}

.header1 {
  height: 50px;
}

.alto_celda_50 {
  height: 3rem;
}

.alto_celda_100 {
  height: 6rem;
}

.alto_celda_200 {
  height: 12.5rem;
}

.social-link.twitter {
  background-image: url('../img/twitter.webp');
}

.social-link.facebook {
  background-image: url('../img/facebook.webp');
}

.social-link.github {
  background-image: url('../img/github.webp');
}

.social-link.instagram {
  background-image: url('../img/instagram.webp');
}

.social-link.linkedin {
  background-image: url('../img/linkedin.webp');
}
