:root {
  /* Creamos algunas variables para colores */
  --col-dorado: RGB(251,230,153);
  --col-bg: #FBE699;
  --col-sha2: #894630;
  --col-hover: rgb(214, 169, 21);
  background-color: var(--col-bg);
  background-image: url("../img/abstrakt-tile.jpg"); /* Imágen de fondo */
  background-size: auto; /* La imágen cubre todo el fondo */
}

html, body {  
  height: 100%;
  margin: 0;
}

.logo{
  height: 4.4rem; /* Altura */
  border-radius: 50%; /* Hacemos la caja redonda */
  padding: 0.3rem; /* Relleno interno */
  margin: 0.3rem; /* Margen externo */
  box-shadow: 0.3rem 0 0.3rem var(--col-dorado); /* Sombra */
  overflow: hidden;
}

/* Rotación simple al poner cursor sobre el logo */
.logo:hover {  
  transform: rotate(2160deg); /* 6 vueltas al logo */  
  filter: hue-rotate(360deg); /* rota el tono hasta volver al original */  
  transition: 1.5s; /* duración */
}

.menu {
  position: fixed;
  display: flex;
  position: sticky;
  background-image: url("../img/stockvault-abstract-fractal-art-wallpaper155712.jpg");
  background-size: cover;
}

.header_menu {
  left: 2.5rem;
  width: 88.4%;
}

.header_menu ul {
  padding-top: 0rem;
  display: flex;
  justify-content: space-around;
}

/* Modificando elementos li dentro de la clase header_menu */
.header_menu li{  
  list-style: none; /* Quitar puntos a las listas */  
  display: inline-flex; /* Colocar los items en linea */  
  width: 15%; /* Ancho de cada item */  
  padding: 0.6rem 0.3rem; /* Separacion Arriba/Abajo e Izquierda/Derecha */
  background-image: url("../img/bg_buttons.jpg");
  background-size: cover;
  justify-content: center; /* Centrar contenido */  
  color: #fff; /* Color de texto */  
  border:1px solid var(--col-dorado); /* Borde de la caja, tamaño, tipo de línea de borde y color */  
  border-radius: 0.3rem; /* Redondeo de bordes */  
  box-shadow:  0.3rem 0.3rem 0.3rem 0 var(--col-bg), 
              0.9rem 0.9rem 1.56rem -0.3rem var(--col-sha2); /* Sombra 2 cajas */
}

.button_container {
  text-align: center;
  margin-top: 0.3rem;
}

.page_button {
  box-shadow: 3px 3px 5px 1px black;
  border-radius: 12px;
}

/* Modificando elementos a dentro de la clase header_menu  */
.header_menu a,
.page_button a {  
  text-decoration: none; /* Quitamos subrallado de los links */  
  font-size: 1.5rem; /* Tamaño de letra */  
  color: inherit; /* Color heredado */
  text-align: center;
}

/* Modificando comportamiento de elemento li dentro de la clase header_menu al poner el cursor del ratón por encima*/
/* Invertimos colores y la transicion al nuevo estado dura medio segundo*/
.header_menu li:hover {
  background-color: var(--col-dorado);
  border: 1px solid var(--col-dorado);
  box-shadow: none;
  transition: all 500ms;
}

/* Hacemos que toda la caja sea clickable */
.enlace {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.banner {
  position: absolute;
  width: 180px;
  height: calc(1000px + 10%);
  right: 0;
  background-image: url("../img/lateral.jpg");
  background-size: cover;
  z-index: 99;
}

.page1,
.page2,
.page3,
.page4 {
  height: 450px;
  width: 40%;
  margin: 2rem;
  box-shadow: 5px 5px 5px 0 #000;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.iframe_p1 {
  width: 100%;
  height: 100%;
  border: none;
  
}

.page_button:hover {
  background-color: var(--col-hover);
  transition: 0.5s;
  color: white;
}

.footer {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: #000;
  background-image: url("../img/stockvault-abstract-fractal-art-wallpaper155712.jpg");
  color: #fff;
  z-index: 100;
}

.footer p{
  padding-left: 2%;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

